$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "transitions";

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Background styling */
#intro {
  background-color: #00a58d;
}

#animation {
  background-color: #00a58d;
}

/*
* Inspired by: https://dribbble.com/shots/1878348-Google-Now-3rd-Party-Apps
*/

@keyframes slide {
    0%  {
        transform: scale(0, 0) translateY(0);
    }

    15%, 70% {
        transform: scale(1, 1) translateY(0);
    }

    90% {
        transform: scale(1, 1) translateY(600%);
    }

    100% {
        transform: scale(1, 1) translateY(600%);
    }
}

@keyframes size {
    0%, 15%  {
        transform: scale(1, 0);
    }

    25%, 100% {
        transform: scale(1, 1);
    }
}

@keyframes zoom {
    0%, 25%  {
        transform: scale(0, 0);
    }

    35%, 100% {
        transform: scale(1, 1);
    }
}



.wrap {
    width: 400px;
    height: 300px;
    display: table;
    overflow: hidden;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.apps {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.app {
    width: 44px;
    height: 45px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .08);
    display: inline-block;
    margin: 0 10px;

    transform: scale(0, 0) translateY(0);

    animation-name: slide;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    &:nth-child(2), &:nth-child(2) .top, &:nth-child(2) .fa {
        animation-delay: .2s;
    }
    &:nth-child(3), &:nth-child(3) .top, &:nth-child(3) .fa {
        animation-delay: .4s;
    }
    &:nth-child(4), &:nth-child(4) .top, &:nth-child(4) .fa {
        animation-delay: .6s;
    }
    &:nth-child(5), &:nth-child(5) .top, &:nth-child(5) .fa {
        animation-delay: .8s;
    }


        .fa {
            height: 19px;
            width: 19px;
            line-height: 19px;
            text-align: center;
            font-size: 11px;
            color: #fff;
            border-radius: 50%;
            position: absolute;
            right: 5px;
            top: -9px;
            box-shadow: 1px 1px 1px .5px rgba(0, 0, 0, .08);

            animation-name: zoom;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
    }



.info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, .64);
  padding: 8px;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: rgba(255, 255, 255, .8)
    }
  }
}


.lead {
    margin-top: 0px;
}
#textfield {
  background-color: #c8cc81;
  margin-top: 0px;
  padding-top: 49px;
  padding-bottom: 49px;
}

#findbutton {
  background-color: #006294;
  margin-top: 0px;
  padding-top: 35.5px;
  padding-bottom: 35.5px;
}

#citylist {
  background-color: #006294;
}

#resultbutton {
  background-color: #c8cc81;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
