$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "transitions";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: white;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  font-style: none;
  font-variant: normal;
  text-align: center;
  letter-spacing: 1.5px;
  background-color: #e7e7e7;
}

/* Animation adapted from: https://dribbble.com/shots/1878348-Google-Now-3rd-Party-Apps */
@keyframes slide {
    0%  {
        transform: scale(0, 0) translateY(0);
    }

    15%, 70% {
        transform: scale(1, 1) translateY(0);
    }

    90% {
        transform: scale(1, 1) translateY(600%);
    }

    100% {
        transform: scale(1, 1) translateY(600%);
    }
}

@keyframes size {
    0%, 15%  {
        transform: scale(1, 0);
    }

    25%, 100% {
        transform: scale(1, 1);
    }
}

@keyframes zoom {
    0%, 25%  {
        transform: scale(0, 0);
    }

    35%, 100% {
        transform: scale(1, 1);
    }
}

.apps {
  padding-top: 0px;
  margin-top: 0px;
}
.app {
    width: 100px;
    height: 100px;
    padding: 4px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .08);
    display: inline-block;

    transform: scale(0, 0) translateY(0);

    animation-name: slide;
    animation-timing-function: ease;
    animation-duration: 8s;
    animation-iteration-count: infinite;;

    &:nth-child(2) {
        animation-delay: 1s;
    }
    &:nth-child(3) {
        animation-delay: 1.4s;
    }
    &:nth-child(4) {
        animation-delay: 1.2s;
    }
    &:nth-child(5) {
        animation-delay: .6s;
    }
    }

/* Main View Divs */
#intro {
  background-color: #00a58d;
  padding-top: 20px;
  padding-bottom: 20px;
}

#textfield {
  background-color: #c8cc81;
  height: 145px;
  font-size: 16px;
  padding-top: 8px;
}

#text {
  font-size: 14px;
  color: #505a60;
}

#citylist {
  min-height: 125px;
  background-color: #43225e;
  padding-top: 45px;
}



/* Global and Local View Button effects */
.btn {
    background: rgba(255, 255, 255, 0.07);
    width: 80%;
    letter-spacing: 2px;
  }

.btn:hover {
    border-radius: 6px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .08);
    border-color: rgba(255, 255, 255, 0.2);
}

#findbutton {
  background-color: #006294;
  padding: 49.5px 48px;
}
#result {
  min-height: 125px;
  background-color: #ba1a64;
  padding-top: 45px;
}
#resultbutton {
  background: rgba(255, 255, 255, 0.07);
  width: 80%;
  letter-spacing: 2px;
  border: none;
}

/* Current View Divs */

#currentcity {
  background-color: #c8cc81;
  height: 145px;
  padding-top: 35px;
}

#currentweather {
  background-color: #00a58d;
  min-height: 245px;
  padding-top: 35px;
  padding-bottom: 20px;
}

#tempicon {
  position: relative;
  background-color: #006294;
  min-height: 255px;
  padding-top: 25px;
}

#forecast {
  min-height: 125px;
  background-color: #ba1a64;
  padding-top: 45px;
}

#forecastbutton{
  background: rgba(255, 255, 255, 0.07);
  width: 80%;
  letter-spacing: 2px;
  border: none;
}

#home {
  min-height: 125px;
  background-color: #43225e;
  padding-top: 45px;

}

#homebutton {
  background: rgba(255, 255, 255, 0.07);
  width: 80%;
  letter-spacing: 2px;
  border: none;
}

.appcurrent {
    position: absolute;
    right: 1%;
    border-radius: 50%;
    transform: scale(0, 0) translateY(0);

    animation-name: slide;
    animation-timing-function: ease;
    animation-duration: 8s;
    animation-iteration-count: infinite;;

    &:nth-child(2) {
        animation-delay: 1s;
    }
    &:nth-child(3) {
        animation-delay: 1.4s;
    }
    &:nth-child(4) {
        animation-delay: 1.2s;
    }
    &:nth-child(5) {
        animation-delay: .6s;
    }

    transform: scale(0, 0) translateY(0);

    animation-name: slide;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;;

    &:nth-child(2) {
        animation-delay: .6s;
    }
    &:nth-child(3) {
        animation-delay: 1s;
    }
    &:nth-child(4) {
        animation-delay: 1.3s;
    }
    &:nth-child(5) {
        animation-delay: 1.6s;
    }
  }

/* Forecast View Divs */
#pillar{
  background-color: #006294;
  padding-top: 1925px;
}

#forecastresults{
  background-color: #00a58d;
  padding-top: 5px;
}


/* Global, Multiview */

/* Main marketing message and sign up button */
.navbar {
  background-color: white;
}
.navbar:hover {
  background-color: white;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
